* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
    color: #fff;
    font-size: 14px;
    overflow: hidden;
}

header {
    position: fixed;
    width: 90vw;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 600px;
    gap: 10%;
    z-index: 2;

    & img {
        width: 250px;
    }

    & nav {
        & ul {
            display: grid;
            grid-template-columns: repeat(3, 200px);

           
        }

    }
}


.subscribe-container {
    background-image: radial-gradient(#738ccf, #140225);
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-box {
    background: rgba(255, 255, 255, 0.06);
    padding: 40px;
    width: 480px;
    border-radius: 20px;
    text-align: center;
    backdrop-filter: blur(4px);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    animation: fadeIn .7s ease;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(40px); }
    to { opacity: 1; transform: translateY(0); }
}


.content-box h2 {
    font-size: 32px;
    margin-bottom: 10px;
}


input, select {
    width: 95%;
    padding: 12px;
    margin-top: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}


.btn-enviar {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #00ff73;
    color: black;
    font-weight: 700;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    transition: .3s;
}

.btn-enviar:hover {
    transform: scale(1.04);
    background-color: #00e86a;
}


.radios {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    font-size: 15px;
}

.radios label {
    cursor: pointer;
}


.msg-success {
    margin-top: 20px;
    font-size: 17px;
    color: #00ff73;
    opacity: 0;
    transition: opacity .6s ease;
}
